---
const items = [
  {
    title: "Prepárate para la Riqueza",
    text: "El primer módulo contiene los temas y conceptos esenciales que debes conocer y aplicar para abrir las puertas de la riqueza constante y sin esfuerzo. Aquí es donde sentarás las bases de tu nueva realidad financiera.",
    imageSrc: "/moneda.png",
    imageFirst: false,
  },
  {
    title: "La Llave Maestra de la Riqueza",
    text: "Este segundo módulo te proporcionará un sistema transformador de frecuencias en Hertz o Hercios, diseñado específicamente para eliminar todas las limitaciones, bloqueos y candados energéticos en tu mente subconsciente y cuerpo. Esta es la clave, este descubrimiento cambió mi vida, y estoy seguro de que cambiará la tuya también.",
    imageSrc: "/llavesita.png",
    imageFirst: true,
  },
  {
    title: "El Secreto de la Riqueza",
    text: "El tercer módulo te revelará un simple y efectivo método para acelerar la atracción de la riqueza. Es aquí donde realizarás la meditación de Activación de la Glándula Pineal y la manera de Visualizar para manifestar, y por último, el método simple del Genio de la Riqueza, una fuerza que te ayudará a dar saltos cuánticos, atraer prosperidad a tu vida con velocidad y precisión.",
    imageSrc: "/moneda.png",
    imageFirst: false,
  },
  {
    title: "Sanación para la Riqueza ",
    text: "En este módulo muestro que, a lo largo  de mi camino hacia la prosperidad, descubrí que sanar mi niño interior  y practicar el perdón especialmente con Mamá y Papá fueron pasos cruciales para liberar las cargas emocionales que me impedían atraer riqueza. Descúbrelo.",
    imageSrc: "/llavesita.png",
    imageFirst: true,
  },
  {
    title: "BONO - Afirmaciones positivas para Generar Riqueza -",
    text: "Desde que comencé a practicar estas afirmaciones positivas, descubrí un cambio profundo en mi vida. Aunque al principio me costaba creer en la efectividad de estas frases, pronto entendí que las afirmaciones no son simplemente palabras que repetimos, sino que son herramientas que reprogramaron mi mente subconsciente.",
    imageSrc: "/moneda.png",
    imageFirst: false,
  }
];
---

<div class="flex flex-col gap-5 w-full text-4xl mt-5 mb-5">
    {items.map((item) => (
        <div class="card rounded grid grid-cols-1 bg md:grid-cols-3 gap-16 w-full fade-up">
          {item.imageFirst ? (
            <>
              <div class="flex justify-center img-container items-center md:col-span-1">
                <img src={item.imageSrc} alt="imagen" class="img w-full" />
              </div>
              <div class="text-center lg:text-end px-2 md:col-span-2 flex flex-col justify-center">
                <h1 class="title">{item.title}</h1>
                <p>{item.text}</p>
              </div>
            </>
          ) : (
            <>
              <div class="text-center lg:text-start px-2 md:col-span-2 flex flex-col justify-center">
                <h1 class="title">{item.title}</h1>
                <p>{item.text}</p>
              </div>
              <div class="flex justify-center img-container items-center md:col-span-1">
                <img src={item.imageSrc} alt="imagen" class="img w-full" />
              </div>
            </>
          )}
        </div>
      ))}
</div>

<style>
  .card {
    padding: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
  }

  .img-container {
    display: inline-block;
    border-radius: 70px;
    padding: 10px; 
    background: linear-gradient(45deg, #f9b50a, #634601);
  }

  .img {
    display: block;
    border-radius: 60px;
    box-shadow:
      0 0 10px rgba(0, 0, 0, 0.2),
      inset 0 0 15px rgba(255, 255, 255, 0.5);
  }

  .title {
    color: #ffbb0f;
    margin-bottom: 10px;
    font-weight: bold;
  }

  p {
    font-size: 1.5rem;
    line-height: 1.5;
  }
</style>
